.IndicatorList {
	font-family: 'Lato', sans-serif;
	position: relative;
	z-index:9999;
	color: black;
	height: 900px;
	left: 20px;
    background: #EBEBEB; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FEFEFE, #E0E0E0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FEFEFE, #E0E0E0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FEFEFE, #E0E0E0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FEFEFE, #E0E0E0); /* Standard syntax */
    overflow: scroll;
}

.IndicatorList ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.IndicatorList ul li {
	margin: 20px 0 0 0;
}