.PerformanceIndicatorList {
	/*position: relative;
	padding: 0;
	margin: 10px 0 0 0;*/
	/*width: 300px;*/
}
.divider {
  border-bottom: 1px solid #3D3F4B;
}
.title {
	text-transform: uppercase;
	color: #ACAFCB;
	font-weight: 300;
	font-size: 0.9em;
}

.backgroundBlur {
  position: fixed;
  width:100%;
  height:100%;
  opacity: 0.8;
  background-color: #000;
}
