.PerformanceIndicatorList {
	position: relative;
	padding: 0;
	margin: 10px 0 0 0;
	width: 400px;
}
.title {
	text-transform: uppercase;
	border-bottom: 1px solid #3D3F4B;
	color: #ACAFCB;
	font-weight: 300;
	font-size: 0.9em;
}

.backgroundBlur {
  position: fixed;
  filter: blur(5px);
  width:100%;
  height:100%;
  opacity: 0.5;
  background-color: #000;
}
