.Stats {
	padding: 0;
	margin: 10px 0 0 0;
	width: 200px;
}
.Amount {
	margin-top: -10px;
	font-weight: 500;
	font-size: 2.5em;
}
.title {
	text-transform: uppercase;
	border-bottom: 1px solid #3D3F4B;
	color: #ACAFCB;
	font-weight: 300;
	font-size: 0.9em;
}
